/* fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rock+Salt');
/* root */
:root {
  font-size: 3vmax;
}
/* tags */
body {
  margin: 0;
  --header-font: 'Rock Salt', cursive;
  --body-font: 'Oswald', sans-serif;
  --header-bg-light: #8FF7A7;
  --header-bg-dark: #27442E;
  --text-color-light: #0E0F19;
  --text-color-dark: #e9e9ea;
  --highlight-color-light: #2C382E;
  --highlight-color-dark: #7C9B81;

  --bg-transition: background-color 0.5s linear;
  --text-transition: color 0.5s linear;
  --border-color-transition: border-color 0.5s  linear;
}

body h2 {
  font-family: var(--body-font);
  font-size: 1.33rem;
}

body P {
  font-family: var(--body-font);
  font-size: 1rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  width: 100vw;
  height: 10vh;
  min-height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--header-bg-light);

  transition: var(--bg-transition);
}

header > h1 {
  color: var(--text-color-light);

  font-size: 3vh;
  font-family: var(--header-font);

  transition: var(--text-transition);
}

header > .sandwichOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 10vh;
  min-width: 100px;
  height: 10vh;
  min-height: 100px;
  max-height: 100%;

  position: absolute;
  left: 0;
  top: 0;
}

sandwichNav {
  position: absolute;
  left: -100vw;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--header-bg-light);

  transition: left 0.25s ease, var(--bg-transition);
}

sandwichNav.open {
  left: 0;
}

/* classes */
.sandwichOpen > img {
  object-fit: contain;
  height: 75%;
}

.sandwichOpen > img.dark {
  position: absolute;
  left: 12.5%;

  opacity: 0;

  transition: opacity 0.5s linear;
}

.sandwichClose {
  display: flex;
  align-items: center;

  min-height: 100px;

  border-bottom: thick solid var(--highlight-color-light);

  transition: var(--border-color-transition);
}

.sandwichClose > h2 {
  font-size: 3vh;
  font-family: var(--body-font);
  color: var(--text-color-light);

  margin-left: 1vw;

  transition: var(--text-transition);
}

.sandwichBar {
  margin-left: 1vw;
}

.sandwichBarButton {
  display: flex;
  align-items: center;
}

.sandwichBarButton > h2 {
  font-size: 3vh;
  font-family: var(--body-font);

  transition: var(--text-transition);
}

.sandwichBarButton > h2 > a {
  color: var(--text-color-light);
  text-decoration: none;
}

/* dark mode changes */
body.dark > header {
  background-color: var(--header-bg-dark)
}

body.dark > header > h1 {
  color: var(--text-color-dark);
}

body.dark > header > .sandwichOpen > img.dark {
  opacity: 1;
}

body.dark > sandwichNav {
 background-color: var(--header-bg-dark);
}

body.dark > sandwichNav > .sandwichClose {
  /* put border color change here*/
  border-color: var(--highlight-color-dark)
}

body.dark > sandwichNav h2, body.dark > sandwichNav a {
  color: var(--text-color-dark);
}

/* media queries */
@media only screen and (orientation: landscape) {
  header > h1 {
    font-size: 1.5rem
  }

  sandwichNav {
    max-width: 500px;

    box-shadow: 10px 0px 50px 0px black;
  }

  .sandwichClose > h2 {
    font-size: 1rem;
  }

  .sandwichBarButton > h2{
    font-size: 1rem;
  }
}

@media only screen and (hover: hover) {
  header > .sandwichOpen {
    display: none;
  }

  sandwichNav {
    display: none;
  }
}
