<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  </head>
  <body class="textSize1">
    <header>
      <h1>KidsSportingFun</h1>
      <div class="sandwichOpen" id="sandwichOpen">
        <img src="{{ site.baseurl }}/assets/sandwichNav/sandwichNav-light.svg" alt="">
        <img class="dark" src="{{ site.baseurl }}/assets/sandwichNav/sandwichNav-dark.svg" alt="">
      </div>
    </header>

    {{ content }}

    <footer>

    </footer>
  </body>
</html>
